<div id="state" data-state="{{state}}"></div>
<div class="table-spacing" style="margin-right: 100px; margin-bottom: 100px;"><table class="table">
<div id="order-data" data-orderData="{{csvData}}"></div>

{{#if state}}
<button class="btn btn-light" type="button" id="btnDownloadCsv"><i class="fa-solid fa-download"></i> Download Order CSV Available</button>
{{/if}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Current Inventory</th>
      <th scope="col">Par Level</th>
      <th scope="col">Order Request</th>
    </tr>
  </thead>
  <tbody>
    {{#each inventories as |inventory|}}
        <tr class="status">
          <th scope="row">{{inventory.id}}</th>
          <td>{{inventory.product}}</td>
          <td>{{inventory.quantity}}</td>
          <td>{{inventory.par_min}}</td>
          <td></td>
        </tr>
    {{/each}}
  </tbody>
</table>
</div>

<script src="/js/count.js"></script>