<div id="inventory-list">
{{#each inventories as |inventory|}}
  <section
    style="background-image: linear-gradient(
    to bottom,
    #634628,
    #7c5c3d,
    #957452,
    #af8c69,
    #c9a580
  );background-attachment: fixed;"
  >
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3 border-dark border-4">
            <div
              class="card-body bg-image"
              style="background-image: url('/assets/wood2.jpg'); "
            >

              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  >
                    {{{choose_image inventory.category}}}
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(241, 223, 223, 0.15);"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5
                    class=".text-secondary"
                    style="color:#ffd15b; font-weight: bold;  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-size: 50px;"
                  >{{inventory.product}}</h5>
                  <div class="mt-1 mb-0 text-muted small">
                    <span
                      style="color:white;  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; font-weight: bold; font-size: 35px;"
                    >{{inventory.category}}</span>
                  </div>

                </div>
                <div
                  class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start border-dark"
                >
                  <div class="d-flex flex-row align-items-center mb-1">
                    <input
                      name="inventory-quantity"
                      type="number"
                      min="0"
                      placeholder="{{inventory.quantity}}"
                      class="form-input w-5px"
                      id="{{inventory.id}}"
                    />
                  </div>
                  <div class="d-flex flex-column mt-4">
                    <button
                      class="btn btn-light update-quantity"
                      type="click"
                      data-id="{{inventory.id}}"
                      id="update"
                    ><i class="fa-solid fa-pen-to-square"></i> Update</button>
                    <button
                      class="btn btn-outline-danger btn-sm mt-2"
                      type="click"
                      data-id="{{inventory.id}}"
                      id="delete"
                    ><i class="fa-solid fa-trash"></i> Delete Item
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/each}}
</div>

<script src="/js/updateInventory.js"></script>